# The GroupName here is used to identify your company or business unit that
# created this webhook.
# For example, this may be "acme.mycompany.com".
# This name will need to be referenced in each Issuer's `webhook` stanza to
# inform cert-manager of where to send ChallengePayload resources in order to
# solve the DNS01 challenge.
# This group name should be **unique**, hence using your own company's domain
# here is recommended.FROM golang:1.14.0-alpine AS build_deps
groupName: acme.bunny.net

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager

image:
  repository: ghcr.io/schmitzis/cert-manager-webhook-bunny
  tag: latest
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 443

secretName:
  - bunny-credentials

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]

podSecurityContext:
  runAsGroup: 1000
  runAsUser: 1000
  runAsNonRoot: true
